/* Enter your custom styles here */

.sapUiSizeCompact .sapMBtnInner.sapMBtnText {
  padding-left: 0.4375rem;
  padding-right: 0.4375rem;
  text-align: center;
  font-size: 16px;
}
/* .sapUxAPObjectPageLayout.sapUxAPObjectPageLayoutTitleClickEnabled.sapUxAPObjectPageLayoutTitleForceHovered .sapFDynamicPageTitle{
  background-color: aliceblue;
}
.sapUxAPObjectPageLayout:not(.sapUxAPObjectPageLayoutNoAnchorBar) .sapFDynamicPageHeader.sapFDynamicPageHeaderWithContent{
  background-color: aliceblue;
}
.sapUiSizeCompact .sapUxAPObjectPageLayoutTitleClickEnabled .sapUxAPAnchorBar, .sapUiSizeCompact .sapUxAPObjectPageLayoutHeaderPinnable .sapUxAPAnchorBar{
  background-color: aliceblue;
}
.sapUxAPObjectPageLayout:not(.sapUxAPObjectPageLayoutNoAnchorBar)>.sapUxAPObjectPageHeaderStickied>.sapFDynamicPageTitle{
  background-color: aliceblue;
} */
