/* Enter your custom styles here */

.sapUiSizeCompact .sapMBtnInner.sapMBtnText {
  padding-left: 0.4375rem;
  padding-right: 0.4375rem;
  text-align: center;
  font-size: 16px;
}
.sapMLIBFocusable:focus {
  outline: 1px dotted #000000;
  outline-offset: -1px;
}

html.sap-desktop .sapUiBody :focus {
  outline: none;
}

.sapMMessageToastSuccess {
  color: #4F8A10 !important;
  background-color: #DFF2BF !important;
  border: 1px solid #4F8A10 !important;
  border-left: 7px solid #4F8A10 !important;
}


.sapMMessageToastInfo {
  color: #00529B !important;
  background-color: #BDE5F8 !important;
  border: 1px solid #00529B !important;
  border-left: 7px solid #00529B !important;
}


.sapMMessageToastWarning {
  color: #9F6000 !important;
  background-color: #FEEFB3 !important;
  border: 1px solid #9F6000 !important;
  border-left: 7px solid #9F6000 !important;
}


.sapMMessageToastDanger {
  color: #D8000C !important;
  background-color: #FFD2D2 !important;
  border: 1px solid #D8000C !important;
  border-left: 7px solid #D8000C !important;
}


.sapMMessageToastNote {
  color: #FCF9F9 !important;
  background-color: #5D5C5C !important;
  border: 1px solid #4E4D4D !important;
  border-left: 7px solid #4E4D4D !important;
}

.sapMInputBaseInner {
    background: rgb(230, 215, 215);
  }

/* .sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild, */
#__spacer11.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer12.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer13.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer14.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer15.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer16.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer17.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer18.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer18.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer19.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,

#__spacer20.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer21.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer22.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer23.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer24.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer25.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer26.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer27.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer28.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer29.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,

#__spacer30.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer31.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer32.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer33.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer34.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer35.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer36.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer37.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer38.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer39.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,


#__spacer40.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer41.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer42.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer43.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer44.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer45.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer46.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer47.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer48.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer49.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,

#__spacer50.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer51.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer52.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer53.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer54.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer55.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer56.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer57.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer58.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer59.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,

#__spacer60.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer61.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer62.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer63.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer64.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer65.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer66.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer67.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer68.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer69.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,

#__spacer70.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer71.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer72.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer73.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer74.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer75.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer76.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer77.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer78.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer79.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,

#__spacer80.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer81.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer82.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer83.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer84.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer85.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer86.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer87.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer88.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer89.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,

#__spacer90.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer91.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer92.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer93.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer94.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer95.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer96.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer97.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer98.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,
#__spacer99.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild,

#__spacer100.sapMTBSpacer.sapMTBSpacerFlex.sapMBarChild{
    flex: none;
    width: 45%;
}